django
djangorestframework
numpy
pandas
scikit-learn
matplotlib
joblib
seaborn
pydantic
requests
imblearn
social-auth-app-django 
djangorestframework-simplejwt
django-cors-headers
django-allauth
bcrypt
geopy
cloudinary
better_profanity
PyMuPDF
python-docx
python-pptx
openpyxl
pytesseract
Pillow
dj_database_url
django-environ
psycopg2-binary
gunicorn
whitenoise
